@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "./global";


// --------------------- Global Styles ---------------------------



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.3rem;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    height:100vh;
    margin: 0;
}

// ----------------------------------------------------------------

.hero{
    max-width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid $clr-light-gray;
    padding: 1rem;
    padding: 2rem;
    .logo{
        margin: 0;
    }
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-color: $clr-gray;
        input{
            height: 2.5rem;
            font-size: 1rem;
        }
    }
.form-title{
    font-size: 1.25rem;
    text-align: center;
}
.form-link{
    color: $clr-green;
    font-size: 14px;
    width: 100%;
}
.forgotPassword{
    text-align: left;
}
.adminLink{
    text-align: right;
}
    div{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .btnSubmit{
            color: white;
            padding: .5rem;
            background-color: $clr-green;
            border: none;
            border-radius: 10px;
        }
    }
}