.gridAnuncio {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body {
  margin: 0;
}

.mensagemInicio {
  display: flex;
  gap: 18px;
  font-size: 32px;
}
.uph1 {
  position: relative;
  display: flex;
  bottom: 150px;
  font-size: 128px;
  color: #2c6d3b;
}

.butaoCompreAgora {
  font-size: 45px;
  background: #2c6d3b;
  color: white;
  border-radius: 8px;
  width: 70%;
  border: 12px solid #2c6d3b;
  display: flex;
  bottom: 300px;
}
.but {
  position: relative;
  bottom: 230px;
}
